@import "tailwindcss";
@config "../tailwind.config.ts";

/* HeroUI integration */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

/* Global styles */
@layer base {
  :root {
    color-scheme: light;
  }

  html {
    @apply bg-white text-gray-900;
  }
}